html{
    background-color: lightseagreen;
    line-height: 1.7;
}

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 80%;
    margin:0;
    padding:0;
}

p {
    text-align: justify;
}

/* Image of Squirrel */

img {
    max-width: 100%;
    height:auto;
}

.image-banner{
    position:relative;
}

.image-banner img{
    display:block;
}

.banner-description{
    position:absolute;
    bottom:0;
    left:0;
    color:white;
    background-color: rgba(0,0,0,0.5);
    padding:20px
}

.banner-description:hover{
    background-color: rgba(0,0,0,0.8);
    color:yellow;
}

/*  End of Image */

.container{
    max-width: 940px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

/*  Table */

table {
    width:100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.col1 {
    width: 60%;
}

.col2, 
.col3 {
    width: 20%;
}


table th {
    text-align: left;
    background-color: lightgreen;
    color:white;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

table th,
table td {
    padding: 10px;
    border: 1px solid lightgreen;
    vertical-align: center;
}

table tr:nth-child(even) td{
    background-color: rgb(236, 252, 236);
}

table tr :nth-child(2),
table tr :nth-child(3){
    text-align: center;
}

table tbody tr:hover td {
    background-color: lightskyblue;
}

/*  End of Table */

header {
    color:white;
    padding-top: 20px;
    background: lightseagreen;
}

header h1{
    margin:0;
    font-size: 165%;
    font-weight: normal;
}

header p{
    margin: 0;
}

/* Site Navigation */

.site-nav{
    margin-top: 20px;
}

.site-nav ul{
    padding: 0;
    margin: 0;
}

.site-nav li{
    list-style: none;
    float:left; 
    margin-right: 5px;
}

.site-nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid lightgreen;
    border-bottom: none;
    background-color: lightseagreen;
}

.site-nav a:hover{
    background-color: lightgreen;
}

/* End Navigation */

.layout {
    border-bottom: lightgreen solid 3px;
    border-top: lightgreen solid 3px;
    background-color: white;
}

.main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Sign In Forms */

form{
    background-color: #ECECEC;
    padding:30px 40px;
    margin-bottom: 15px;
}

.hidden-label {
    position: absolute;
    height:0;
    width:0;
    overflow:hidden;
    visibility: hidden;
}

input,
select {
    font-family: Tahoma, sans-serif;
    font-size: 100%;
}

input[type="email"],
input[type="password"],
select{
    width:100%;
    display:block;
    box-sizing: border-box;
    padding:0 10px;
    height:40px;
    margin-bottom: 15px;
    border:1px solid #CDCDCD;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus{
    border:1px solid #869960;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.13);
}

input[type="submit"]{
    width:100%;
    background-color: seagreen;
    color:white;
    display:block;
    padding:10px 0;
    border:1px solid green;
    border-radius: 20px;
    margin-bottom: 10px;
    outline:none;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
    border:1px solid green;
    background-color:forestgreen;
}

.checkbox-text {
    font-size: 85%;
    color:grey
}

/* End of Forms */

/* Birds */

.bird {
    background-color: #869960;
    background-image: url(images/bird.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    padding:100px;
    text-align: center;
}

.bird p{
    margin: 0;
	background-color: rgba(0, 0, 0, .7);
	color: #FFF;
	text-shadow: 1px 1px 0 #000;
	display: inline-block;
    padding: 10px;
}

.bird p:hover{
    color:yellow;
    background-color: rgba(0,0,0,0.8);
}

.sidebar {
    width: 34%;
    float: left;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 114%;
    background-color: lightgreen;
}

footer {
    text-align: center;
    font-size: 85%;
    color:lightgreen;
    padding-bottom: 20px;
    padding-top: 20px;
}


@media screen and (max-width: 700px){
    
    .main-area,
    .sidebar{
        width:auto;
        float:none;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 500px){

    .site-nav li{
        width: 50%;
        margin: 0;
    }

   .site-nav a{
        padding: 15px 0x;
        margin-right: 5px;
        text-align: center;
        border: 0;
        background-color: rgba(0, 0, 0, .1);
        margin-bottom: 10px;
   }

   .bird {
       position: relative;
   }

   .bird p{
       position: absolute;
       left: 80px;
       bottom: 20px;
    }

   .banner-description{
    font-size: 65%;
    padding: 10px;
}
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
    zoom: 1;
}